includes:
    - phpstan-baseline.neon
parameters:
    level: 6
    paths:
        - src/
    bootstrapFiles:       
    scanDirectories:
    treatPhpDocTypesAsCertain: false
    parallel:
        maximumNumberOfProcesses: 1 
    ignoreErrors: